*{
    box-sizing: border-box;
    padding: 5px;
}

body {
    margin: 0;
}

.m-l {
    margin-left: 5px;
}

.m-r {
    margin-right: 5px;
}

.f {
    display: flex;
}

.j-center {
    justify-content: center;
}

.j-space-beetween {
    justify-content: space-between;
}

.fd-row {
    flex-direction: row;
}

.fd-col {
    flex-direction: column;
}

.f-grow-1 {
    flex-grow: 1;
}

.f-basis-50 {
    flex-basis: 50%;
}

.f-basis-100 {
    flex-basis: 100%;
}

.main {
    background-color: red;
    width: 500px;
    height: 500px;
    margin: auto;
}

.green {
    background-color: green;
    margin: 5px;
}

.violet {
    background-color: violet;
    width: 100px;
    height: 100%;
}

.blue {
    background-color: blue;
    height: 100%;
}

.yellow {
    background-color: yellow;
    width: 100px;
    /*width: 100%;*/
}